<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juan Valentin Mora Ruiz - CV</title>
    <style>
      .container {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        color: #333;
        display: flex;
        flex-wrap: wrap;
      }

      main {
        flex: 1;
        min-width: 70%;
        padding: 20px;
      }

      aside {
        background-color: #283e49;
        color: white;
        padding: 30px;
        width: 250px;
        min-height: 100vh;
      }

      .main-header {
        margin-bottom: 30px;
        padding-bottom: 20px;
      }

      .main-header h1 {
        margin-bottom: 5px;
        color: #191919;
      }

      .main-header h2 {
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #191919;
      }

      .main-header p {
        margin-top: 5px;
        color: #777;
      }

      .section {
        margin-bottom: 30px;
      }

      .section h2 {
        padding-bottom: 5px;
        color: #000000;
      }

      .experience-item,
      .education-item {
        margin-bottom: 20px;
      }

      .experience-item h3,
      .education-item h3 {
        margin-bottom: 5px;
      }

      .experience-meta,
      .education-meta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #666;
        margin-bottom: 10px;
      }

      .company-name {
        font-weight: bold;
        margin-bottom: 3px;
      }

      .date-range {
        margin-bottom: 5px;
      }

      .location {
        color: #777;
        margin-bottom: 10px;
      }

      .skills-list,
      .certifications-list,
      .awards-list {
        list-style-type: none;
        padding-left: 0;
      }

      .skills-list li,
      .certifications-list li,
      .awards-list li {
        position: relative;
      }

      .sidebar-section {
        margin-bottom: 30px;
      }

      .sidebar-section h3 {
        padding-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="sidebar-section">
          <h3>Contacto</h3>
          <ul class="skills-list">
            <li>64890833</li>
            <li>raicerk@outlook.com</li>
            <li>linkedin.com/in/juanvalentinmoraruiz</li>
          </ul>
        </div>

        <div class="sidebar-section">
          <h3>Aptitudes principales</h3>
          <ul class="skills-list">
            <li>Open API</li>
            <li>Agilidad</li>
            <li>Liderazgo de equipos multidisciplinarios</li>
          </ul>
        </div>

        <div class="sidebar-section">
          <h3>Idiomas</h3>
          <ul class="skills-list">
            <li>Español (Native or Bilingual)</li>
          </ul>
        </div>

        <div class="sidebar-section">
          <h3>Certificaciones</h3>
          <ul class="certifications-list">
            <li>MTA: Database Fundamentals</li>
            <li>
              Administrador de campañas publicitarias y Optimización en motores
              de Búsqueda Adword de Google
            </li>
            <li>SCRUM MASTER PROFESSIONAL CERTIFICATE</li>
            <li>Fundamentos de la gestión de proyectos ágil</li>
            <li>Fundamentos de la gestión de proyectos</li>
          </ul>
        </div>

        <div class="sidebar-section">
          <h3>Reconocimientos</h3>
          <ul class="awards-list">
            <li>Trabajador revelación 2016</li>
          </ul>
        </div>
      </aside>

      <main>
        <header class="main-header">
          <h1>Juan Valentin Mora Ruiz</h1>
          <h2>Senior Software Engineer - Technical Lead</h2>
          <p>Gran Santiago, Región Metropolitana de Santiago, Chile</p>
        </header>

        <section class="section" id="experience">
          <h2>Experiencia</h2>

          <div class="experience-item">
            <h3>Technical Lead</h3>
            <div class="experience-meta">
              <div class="company-name">Blue Express</div>
              <div class="date-range">febrero de 2025 - Present (4 meses)</div>
              <div class="location">
                Región Metropolitana de Santiago, Chile
              </div>
            </div>
            <p>
              Technical lead para Blue Express Copec a cargo del equipo
              transversal de desarrollos para los equipos de tecnológica,
              liderando las definiciones y decisiones sobre la tecnología que se
              debe aplicar, el seguimiento de definiciones de las buena
              prácticas y lineamientos de seguridad para asegurar la calidad de
              los productos que se están desarrollando en mi equipo como en el
              resto de los equipos tecnológicos
            </p>
          </div>

          <div class="experience-item">
            <h3>Technical Lead</h3>
            <div class="experience-meta">
              <div class="company-name">Imagemaker</div>
              <div class="date-range">
                julio de 2024 - febrero de 2025 (8 meses)
              </div>
              <div class="location">
                Las Condes, Región Metropolitana de Santiago, Chile
              </div>
            </div>
            <p>
              Technical manager para AFP Provida a cargo de todos los equipos de
              migración de plataforma tecnológica, liderando las definiciones y
              decisiones sobre la tecnología que se debe aplicar, el seguimiento
              definiciones las buena prácticas y lineamientos de seguridad para
              asegurar la calidad de los productos que se están migrando, además
              de mejorar la plataforma de traspaso de AFP para atraer nuevos
              clientes a Provida
            </p>
          </div>

          <div class="experience-item">
            <h3>Technical Lead</h3>
            <div class="experience-meta">
              <div class="company-name">AGP S.A.</div>
              <div class="date-range">
                octubre de 2023 - julio de 2024 (10 meses)
              </div>
              <div class="location">
                Las Condes, Región Metropolitana de Santiago, Chile
              </div>
            </div>
            <p>
              Technical Lead para AGP, me desempeño liderando proyectos de
              integración y desarrollo de nuevas funcionalidades para las
              plataformas de gestión de tramites automotrices, trabajando con
              tecnologías de Microsoft, usando .net, .net Core y también
              trabajando con tecnologías de javascript con nodejs, expressjs,
              etc. También como parte del proceso de desarrollo se hacen
              trabajos con bases de datos, administrando y desarrollando nuevos
              script para las nuevas funcionalidades, todo esto trabajándolo en
              Microsoft SQL Server y en Cosmo DB (Base de datos nosql de
              Microsoft Azure), a nivel de despliegues de aplicaciones usamos
              IIS y app service de Microsoft Azure, dentro del proceso de
              liderazgo del equipo, mi misión es asegurar la calidad del código
              y del producto, definiendo estándares y verificando que se
              cumplan, usando herramientas como git, reviews de código,
              despliegues automatizados con pipelines, gestión de ramas de git,
              y documentación de cada desarrollo en ClickUp
            </p>
          </div>

          <div class="experience-item">
            <h3>Globant</h3>
            <div class="experience-meta">
              <div class="date-range">3 años 11 meses</div>
            </div>

            <div class="experience-item">
              <h4>Technical Lead / Software Designer</h4>
              <div class="experience-meta">
                <div class="date-range">
                  abril de 2022 - septiembre de 2023 (1 año 6 meses)
                </div>
                <div class="location">
                  Región Metropolitana de Santiago, Chile
                </div>
              </div>
              <p>
                Desarrollador/Technical Lead/Arquitecto de software para Prisma
                Argentina Medios de Pago, migrando el sitio actual a uno
                completamente nuevo, pasando de tecnología Angularjs (1)
                (Javascript) a React 18 (con Typescript), Node.js (Nest.js con
                Typescript), y infraestructura en la nube usando una
                arquitectura de micro frontend y microservicios. También trabaje
                administrando datos en SQL Server, Postgres y bases de datos
                Nosql como Redis para la persistencia de datos temporal en
                cache. También se uso CI/CD de Gitlab para el despliegue
                continuo de las aplicaciones en contenedores Kubernetes para el
                backend (BFF Creado conNestjs) y para el front en el servicio de
                AWS llamado Cloudfront. Dentro del desarrollo de la aplicación
                también se integraron servicios SOAP/XML. Como parte del proceso
                de CI y aseguramiento de la calidad se uso GIT como sistema de
                control de versiones y se uso Sonarqube para asegurar la calidad
                y que no hubieran vulnerabilidades en el desarrollo del sistema
              </p>
            </div>

            <div class="experience-item">
              <h4>Web UI Developer / Backend developer Node.js</h4>
              <div class="experience-meta">
                <div class="date-range">
                  septiembre de 2020 - abril de 2022 (1 año 8 meses)
                </div>
                <div class="location">
                  Santiago, Santiago Metropolitan, Chile
                </div>
              </div>
              <p>
                Desarrollador Node.js para Modo (Empresa Argentina de billetera
                digital creada por la asociación de bancos y el Gobierno de
                Argentina) donde desempeñe el rol de desarrollador Node.js
                (Javascript) creando las API's y microservicios para la
                aplicación móvil, donde pude crear los servicios de
                autenticación con Oauth 2.0 con el servicio de Auth0, junto con
                el desarrollo de los servicios de 2FA y integraciones con API's
                de terceros como el servicio de autenticación facial y el
                servicio de autenticación de DNI del Gobierno de Argentina, todo
                esto se uso usando los servicios de AWS como Dynamo DB,
                Contenedores Kubernetes Postgresql e AWS
              </p>
            </div>

            <div class="experience-item">
              <h4>Arquitecto de software / Technical lead</h4>
              <div class="experience-meta">
                <div class="date-range">
                  noviembre de 2019 - septiembre de 2020 (11 meses)
                </div>
                <div class="location">
                  Las Condes, Santiago Metropolitan Region, Chile
                </div>
              </div>
              <p>
                Desarrollador/Arquitecto/Technical Lead del proyecto Latam
                Airlines Experience, donde lideré el desarrollo de la aplicación
                mobile de Latam Airlines, particularmente todo el diseño y
                funcionamiento del sistema de comunicación con el cliente final,
                notificaciones push, envío de email, envío de Whatsapp, envío de
                SMS, etc, para este proyecto se utilizó React Native (con
                Typescript)(Javascript), React(Con Typescript)(Javascript),
                Node.js (Con Typescript) (Javascript) y java en su versión
                11para el desarrollo de microservicios, los cuales se
                comunicaban con el BFF para proveer toda la información al
                negocio, tanto a la app mobile como la aplicación Web. Como
                parte del proceso de CI y aseguramiento de la calidad se uso GIT
                como sistema de control de versiones y se uso Sonarqube para
                asegurar la calidad y que no hubieran vulnerabilidades en el
                desarrollo del sistema. Todo este sistema fue desplegado en GCP
                usando diferentes herramientas como firebase database (No SQL)
                Big Query, App Engine, Firebase message, Kubernetes, etc
              </p>
            </div>
          </div>

          <div class="experience-item">
            <h3>Tech Lead</h3>
            <div class="experience-meta">
              <div class="company-name">ADA - Soluciones informáticas</div>
              <div class="date-range">
                abril de 2019 - noviembre de 2019 (8 meses)
              </div>
              <div class="location">Santiago, Santiago, Chile</div>
            </div>
            <p>
              Desarrollador/Líder técnico desempeñando funciones de líder de
              equipo y de proyectos, participe liderando una implementación de
              APIs Rest creadas con Node.js (Express.js) con Javascript y con
              MongoDB para correos de Chile, creando la plataforma de registro y
              control de despacho de la paquetería en tiempo real, dentro de las
              tecnologías usadas para este proyecto se destaca Javascript con
              Typescript, el uso de GIT y SVN como sistema de control de
              versiones, también se uso una arquitectura orientada a
              microservicios, en conjunto con Sonarqube para asegurar que no
              existieran vulnerabilidades y que se cumplan las reglas básicas de
              código limpio. También experiencia trabajando con el cliente BCI
              para sus plataformas legadas, y creando plataformas de gestión de
              análisis de créditos, desarrollada en Vue.js (Javascript) y .NET
              Core, todo esto desplegado en la nube de Azure, usando SQL Cloud y
              Servidores Virtualizados (Azure)
            </p>
          </div>

          <div class="experience-item">
            <h3>Gerente de tecnologías de la información</h3>
            <div class="experience-meta">
              <div class="company-name">GL Group S.A</div>
              <div class="date-range">
                octubre de 2015 - abril de 2019 (3 años 7 meses)
              </div>
              <div class="location">
                Gran Santiago, Región Metropolitana de Santiago, Chile
              </div>
            </div>
            <p>
              Jefe de departamento de tecnología de la compañía, a cargo de la
              gestión de proyectos tecnológicos, administración y manutención de
              soporte tecnológico tanto para clientes como para la compañía, a
              cargo de la continuidad operacional tecnológica y de la seguridad
              de la información, desarrollo de soluciones que aportan calidad de
              servicio y de nuevos productos para clientes. Trabaje con
              tecnologías de backend como C#, ASP. Node.js(Javascript), Java, y
              tecnologías de front como angular.js(Javascript) y angular
              4(Typescript)(Javascript), también con frameworks híbridos para
              aplicaciones móviles como Ionic y para aplicaciones de escritorio
              como Electron(Javascript). Adicional a esto trabaje con IoT para
              el desarrollo de aplicaciones con sistemas de medición de data
              estadística para evitar robos. También desarrolle modelos de datos
              y bases de datos de SQL Server y no sql como mongodb y sql-lite
              (para app móviles)
            </p>
          </div>

          <div class="experience-item">
            <h3>Manager IT</h3>
            <div class="experience-meta">
              <div class="company-name">Century LATAM</div>
              <div class="date-range">
                octubre de 2015 - abril de 2019 (3 años 7 meses)
              </div>
              <div class="location">Provincia de Santiago, Chile</div>
            </div>
            <p>
              Gestionar proyectos del área TI, Desarrollar y optimizar procesos
              de la compañía, Liderar proyectos de desarrollo para clientes de
              Latino America y Chile
            </p>
          </div>

          <div class="experience-item">
            <h3>Miembro fundador</h3>
            <div class="experience-meta">
              <div class="company-name">Comunidad Pro-Gramadores</div>
              <div class="date-range">
                marzo de 2011 - marzo de 2019 (8 años 1 mes)
              </div>
            </div>
            <p>
              Pro-Gramadores es una comunidad internacional de amantes de la
              tecnología en la cual se comparten conocimientos de manera abierta
              y libre, aportando contenido de diferentes tecnologías al
              ecosistema de las tecnologías de la información, es una comunidad
              que apuesta por los talleres y la formación continua, donde todos
              sus miembros se comprometen a aportar de diferentes maneras. La
              comunidad ya ha desarrollado varios eventos donde han participado
              empresas como Microsoft, IBM, Facebook y comunidades amigas
              aportando y apoyando a Pro-Gramadores.
            </p>
          </div>

          <div class="experience-item">
            <h3>Desarrollador de sistemas</h3>
            <div class="experience-meta">
              <div class="company-name">Universidad de Chile</div>
              <div class="date-range">
                junio de 2014 - septiembre de 2015 (1 año 4 meses)
              </div>
              <div class="location">Santiago</div>
            </div>
            <p>
              Desarrollador de sistemas para la facultad de negocios y economía
              de la Universidad de Chile, a cargo de el desarrollo de
              plataformas para docentes y alumnos de la facultad, además de la
              actualización de plataformas existentes, como logro puedo
              mencionar la creación de toda la base del sistema de postulaciones
              a ofertas laborales y prácticas profesionales para los alumnos de
              la FEN. Desarrolle con tecnología de PHP, bases de datos de SQL
              Server y administración de servidores con nginx y apache
            </p>
          </div>

          <div class="experience-item">
            <h3>Desarrollador de Sistemas</h3>
            <div class="experience-meta">
              <div class="company-name">Empresas Maquipan</div>
              <div class="date-range">
                octubre de 2013 - mayo de 2014 (8 meses)
              </div>
              <div class="location">
                Valle industrial, valle grande, Lampa, Santiago
              </div>
            </div>
            <p>
              A cargo de los desarrollos internos de la compañía además de la
              gestión de proyectos tecnológicos entregando soluciones integrales
              y modernas para la transformación digital de la compañía. Con uso
              de tecnología de PHP, html, css, jquery y bootstrap, y manejando
              bases de datos de SQL Server
            </p>
          </div>

          <div class="experience-item">
            <h3>Viajes El Corte Ingles</h3>
            <div class="experience-meta">
              <div class="date-range">8 meses</div>
            </div>

            <div class="experience-item">
              <h4>Desarrollador Web</h4>
              <div class="experience-meta">
                <div class="date-range">
                  mayo de 2013 - octubre de 2013 (6 meses)
                </div>
                <div class="location">
                  Las Condes, Región Metropolitana de Santiago, Chile
                </div>
              </div>
              <p>
                Desarrollo de sistemas integrales para la compañía en los 3
                países (Argentina - Perú- Uruguay), ademas del desarrollo de
                plataformas web para las alianzas comerciales (Movistar Chile,
                Telefonica argentina, Scotiabank, Corpbanca, etc.)
              </p>
            </div>

            <div class="experience-item">
              <h4>Analista Gestion e-commerce</h4>
              <div class="experience-meta">
                <div class="date-range">
                  marzo de 2013 - mayo de 2013 (3 meses)
                </div>
                <div class="location">
                  Las Condes, Región Metropolitana de Santiago, Chile
                </div>
              </div>
              <p>
                Generación de Informes para el área de ventas, gestión de
                desarrollo de sistemas en el departamento de producto.
              </p>
            </div>
          </div>

          <div class="experience-item">
            <h3>Analista Tesoreria Central</h3>
            <div class="experience-meta">
              <div class="company-name">Hipermercados Tottus</div>
              <div class="date-range">
                febrero de 2011 - marzo de 2013 (2 años 2 meses)
              </div>
              <div class="location">Nataniel Cox 620</div>
            </div>
            <p>
              A cargo de la conciliación bancaria de la empresa, ademas del
              ingreso y control de movimientos bancarios a la ERP Oracle
              Finantial
            </p>
          </div>
        </section>

        <section class="section" id="education">
          <h2>Educación</h2>

          <div class="education-item">
            <h3>Instituto Profesional AIEP</h3>
            <div class="education-meta">
              <div class="date-range">(2011 - 2014)</div>
              <div>
                Ingeniero en computacion e informatica, Desarrollo de sistemas
              </div>
            </div>
          </div>

          <div class="education-item">
            <h3>Universidad Nacional Andrés Bello</h3>
            <div class="education-meta">
              <div class="date-range">(2008 - 2010)</div>
              <div>Ingenieria en computacion e informatica, Informatica</div>
            </div>
          </div>

          <div class="education-item">
            <h3>Universidad Nacional Andrés Bello</h3>
            <div class="education-meta">
              <div class="date-range">(2007 - 2007)</div>
              <div>
                Ingeniería Civil en computación e informatica, Ingeniería
                informática
              </div>
            </div>
          </div>

          <div class="education-item">
            <h3>Universidad Autónoma de Chile</h3>
            <div class="education-meta">
              <div class="date-range">(2025 - 2025)</div>
              <div>Diplomado en arquitectura de software, Computer Science</div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
